@page
@using ReservationProject.Core.Extensions
@model ReservationProject.Pages.RoomsModel

@{
    Layout = "_Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.TableHeader(model => model.ItemList[0].RoomName)
            @Html.TableHeader(model => model.ItemList[0].BuildingAddress)
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemList)
        {
            <tr>
                @Html.RowData(modelItem => item.RoomName)
                @Html.RowData(modelItem => item.BuildingAddress)
                @Html.RowButtons("Rooms", $"{item.Id}")
            </tr>
        }
    </tbody>
</table>