@page
@using ReservationProject.Pages.Extensions
@model ReservationProject.Pages.RoomsModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.TableHeader(model => model.RoomList[0].RoomName)
            @Html.TableHeader(model => model.RoomList[0].BuildingAddress)
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoomList)
        {
            <tr>
                @Html.RowData(modelItem => item.RoomName)
                @Html.RowData(modelItem => item.BuildingAddress)
                @Html.RowButtons("Reservations", $"{item.RoomId}")
            </tr>
        }
    </tbody>
</table>