@page
@model ReservationProject.Pages.RoomsModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page-handler="Create" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomList[0].RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomList[0].BuildingAddress)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.RoomList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-handler="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-page="./Details" asp-route-handler="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-page="./Delete" asp-route-handler="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>