@page
@using ReservationProject.Pages.Extensions
@model ReservationProject.Pages.WorkersModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Index";
}
<table class="table">
    <thead>
        <tr>
            @Html.TableHeader(model => model.WorkerList[0].LastName)
            @Html.TableHeader(model => model.WorkerList[0].FirstName)
            @Html.TableHeader(model => model.WorkerList[0].Email)
            @Html.TableHeader(model => model.WorkerList[0].Salary)
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkerList)
        {
            <tr>
                @Html.RowData(modelItem => item.LastName)
                @Html.RowData(modelItem => item.FirstName)
                @Html.RowData(modelItem => item.Email)
                @Html.RowData(modelItem => item.Salary)
                @Html.RowButtons("Workers", $"{item.WorkerId}")
            </tr>
        }
    </tbody>
</table>