@page
@model ReservationProject.Soft.Pages.Workers.WorkersModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page-handler="Create" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerList[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerList[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerList[0].Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkerList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-page-handler="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
