@page
@using ReservationProject.Pages.Extensions
@model ReservationProject.Pages.WorkersModel

@{
    Layout = "_Index";
}
<table class="table">
    <thead>
        <tr>
            @Html.TableHeader(model => model.ItemList[0].FullName)
            @Html.TableHeader(model => model.ItemList[0].Email)
            @Html.TableHeader(model => model.ItemList[0].Salary)
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemList)
        {
            <tr>
                @Html.RowData(modelItem => item.FullName)
                @Html.RowData(modelItem => item.Email)
                @Html.RowData(modelItem => item.Salary)
                @Html.RowButtons("Workers", $"{item.Id}")
            </tr>
        }
    </tbody>
</table>