@page
@using ReservationProject.Pages.Extensions
@model ReservationProject.Pages.ReservationsModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.TableHeader(model => model.ReservationsList[0].ReservationDate)
            @Html.TableHeader(model => model.ReservationsList[0].RoomId)
            @Html.TableHeader(model => model.ReservationsList[0].WorkerId)
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReservationsList)
        {
            <tr>
                @Html.RowData(modelItem => item.ReservationDate)
                @Html.RowData(modelItem => item.ReservedRoom.RoomName)
                @Html.RowData(modelItem => item.ReservedWorker.FullName)
                @Html.RowButtons("Reservations", $"{item.ReservationId}")
            </tr>
        }
    </tbody>
</table>
